.naam{
    text-align: right;
    font-size: 200%;
    padding-right: 75px;
    padding-top: 50px;

}

.prijs{
    text-align: right;
    font-size: 200%;
    padding-right: 75px;
}

.desc{
    text-align: right;
    font-size: 150%;
    padding-right: 75px;
    padding-top: 15px;
}

.image{
    border: 5px solid #000000;
    margin-top: 50px;
    margin-bottom: 1px;
    margin-left: 200px;
    float: left;
    width: 400px;
    height: 400px;
    background-image: url("../images/default.jpg");
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    margin-right: 75px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size:20px;
}