

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#search {
    padding: 14px 16px;
    float: left;
}

#searchButton {
    float: right;
    background: #333;
    color: #f2f2f2;
    margin-left:8px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}

h1 {
    color: red;
}

footer {
    position: sticky;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    bottom: 0px;
    overflow: hidden;
    width: calc(100% - 20px);
}

body {
    margin:0px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 150px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    background-color: #dddddd;
    margin: 0px 10px 10px 10px;
    padding: 2px 16px;

}