html, body, form, div
{
	margin: 0px;
	padding: 0px;
}

div
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

div.header
{
	border-bottom: #CCCCCC dashed 1px;
	height: 100px;
	padding: 20px 0px 0px 120px;
}

div.header h1
{
	font-family: Arial;
	font-weight: bold;
	font-size: 48px;
	margin: 0px;
	padding: 0px;
}

div.header em
{
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	font-style: normal;
}

div.content
{
	border-bottom: #CCCCCC dashed 1px;
	padding: 20px 40px 20px 120px;

	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
}

div.content input
{
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
}

div.footer
{
	padding: 12px 12px 0px 0px;

	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	text-align: right;
}

div.footer a
{
	color: #666666;
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
}
